## Python Language Basics

### Language Semantics

#### Indentation

```python
for x in array:
    if x < pivot:
        less.append(x)
    else:
        greater.append(x)
```

#### Comments

```python
results = []
for line in file_handle:
    # keep the empty lines for now
    # if len(line) == 0:
    #   continue
    results.append(line.replace('foo', 'bar'))
```

```python
print("Reached this line")  # Simple status report
```

#### Function and object method calls

```
result = f(x, y, z)
g()
```

```
obj.some_method(x, y, z)
```

```python
result = f(a, b, c, d=5, e='foo')
```

#### Variables and argument passing

In [1]:
a = [1, 2, 3]

In [2]:
b = a

In [3]:
a.append(4)
b

[1, 2, 3, 4]

In [1]:
id? #메모리 주소

In [5]:
id(a)

93500360

In [6]:
id(b)

93500360

```python
def append_element(some_list, element):
    some_list.append(element)
```

```python
In [27]: data = [1, 2, 3]

In [28]: append_element(data, 4)

In [29]: data
Out[29]: [1, 2, 3, 4]
```

In [19]:
def append_element(some_list,element):
    print('before',id(some_list))
    some_list.append(element)
    print('after', id(some_list))

data = [1,2,3]
print('data id', id(data))
append_element(data,92)
data

data id 10519432
before 10519432
after 10519432

[1, 2, 3, 92]

In [2]:
def change_value(value):
    value += 3
    print(value)

v_data=5
change_value(v_data)
v_data

8

5

In [18]:
def change_value(value):
    print('before', id(value))
    value += 3
    print('after', id(value))
    print(value)
    return value

#스칼라 값은 함수가 끝나면 원래 값으로

v_data=5
print('id v_data',id(v_data))
v_data = change_value(v_data)
v_data

id v_data 1554294768
before 1554294768
after 1554294816
8

8

#### Dynamic references, strong types

In [20]:
a = 5
type(a)

int

In [21]:
a = 'foo'
type(a)

str

In [24]:
'5' + 5

TypeError: can only concatenate str (not "int") to str

In [25]:
int('5')+5

10

In [26]:
a = 5
b = 2
# String formatting, to be visited later
print('a is {0}, b is {1}'.format(type(a), type(b)))
a / b

a is <class 'int'>, b is <class 'int'>

2.5

In [4]:
a = 5
isinstance(a, int)

True

In [10]:
a = 5; b = 4.5
isinstance(a, (int, float))

True

In [11]:
isinstance(b, (int,float))

True

#### Attributes and methods

```python
In [1]: a = 'foo'

In [2]: a.<Press Tab>
a.capitalize  a.format      a.isupper     a.rindex      a.strip
a.center      a.index       a.join        a.rjust       a.swapcase
a.count       a.isalnum     a.ljust       a.rpartition  a.title
a.decode      a.isalpha     a.lower       a.rsplit      a.translate
a.encode      a.isdigit     a.lstrip      a.rstrip      a.upper
a.endswith    a.islower     a.partition   a.split       a.zfill
a.expandtabs  a.isspace     a.replace     a.splitlines
a.find        a.istitle     a.rfind       a.startswith
```

In [13]:
a='foo'

In [14]:
a.count('o')

2

#### Imports

```python
# some_module.py
PI = 3.14159

def f(x):
    return x + 2

def g(a, b):
    return a + b
```

In [17]:
import some_module 
result = some_module.f(5)
pi = some_module.PI
result

7

In [7]:
from some_module import f, g, PI
result = g(5, PI)
result

8.14159

In [20]:
import some_module as sm
from some_module import PI as pi, g as gf
#some_module를 as 뒤의 것으로 대체

r1 = sm.f(pi)
r2 = gf(6, pi)
print(r1)
r2

5.14159

9.14159

#### Binary operators and comparisons

```python
5 - 7
12 + 21.5
5 <= 2
```

In [21]:
5-7

-2

In [22]:
12+21.5

33.5

In [23]:
5<=2

False

object-based
```python
a = [1, 2, 3]
b = a
c = list(a)
a is b
a is not c
id?
id(a)
```

In [24]:
a=[1,2,3]
b=a
c=list(a)
a is b

True

In [25]:
c

[1, 2, 3]

In [26]:
a is c

False

In [27]:
a == c

True

In [28]:
id(a)

2526792

In [29]:
id(c)

95159016

value-based
```python
a == c
```

In [30]:
a = None
a is None

True

#### Mutable and immutable objects

In [32]:
a_list = ['foo', 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [40]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = 'four'

TypeError: 'tuple' object does not support item assignment

### Scalar Types

#### Numeric types

In [45]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

In [47]:
fval = 7.243
fval2 = 6.78e-5

In [48]:
3 / 2

1.5

In [49]:
3 // 2

1

#### Strings

In [50]:
a = 'one way of writing a string'
b = "another way"

In [51]:
c = """
This is a longer string that
spans multiple lines
"""

In [52]:
c.count('\n')

3

In [53]:
a = 'this is a string'
a[10] = 'f'

TypeError: 'str' object does not support item assignment

In [54]:
a= 'this is a string'
temp= a[:10]+'f'+a[11:]
temp

'this is a ftring'

In [55]:
b = a.replace('string', 'longer string')
b

'this is a longer string'

In [56]:
a

'this is a string'

#### Booleans

True and True
False or True

#### Type casting

In [57]:
s = '3.14159'
fval = float(s)
type(fval)
int(fval)
bool(fval)
bool(0)

False

In [59]:
s = '3.14159'

In [60]:
fval=float(s)

In [61]:
type(fval)

float

In [62]:
int(fval)

3

In [63]:
bool(fval)

True

In [64]:
bool(0)

False

#### None

In [67]:
a = None
a is None
b = 5
b is not None

True

In [70]:
type(None)

NoneType

#### Dates and times

In [74]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day
dt.minute

30

In [75]:
dt.date()

datetime.date(2011, 10, 29)

In [76]:
dt.time()

datetime.time(20, 30, 21)

### Control Flow

#### if, elif, and else

```python
if x < 0:
    print('It's negative')
```

```python
if x < 0:
    print('It's negative')
elif x == 0:
    print('Equal to zero')
elif 0 < x < 5:
    print('Positive but smaller than 5')
else:
    print('Positive and larger than or equal to 5')
```

In [77]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print('Made it')

Made it

In [78]:
4 > 3 > 2 > 1

True

#### for loops

for value in collection:
    # do something with value

```python
sequence = [1, 2, None, 4, None, 5]
total = 0
for value in sequence:
    if value is None:
        continue
    total += value
```

In [80]:
sequence = [1,2,None,4,None,5]
total=0
for value in sequence:
    if value is None:
        continue
    total += value
total

12

```python
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break
    total_until_5 += value
```

In [82]:
sequence = [1,2,0,4,6,5,2,1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break
    total_until_5 += value
total_until_5

13

In [83]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

#### while loops

```python
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2
```

In [85]:
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2
total

504

#### pass

```python
if x < 0:
    print('negative!')
elif x == 0:
    # TODO: put something smart here
    pass
else:
    print('positive!')
```

In [2]:
if x<0:
    print('negative!')
elif x == 0 :
    pass
else:
    print('positive!')

#### range

In [91]:
range(10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [92]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [93]:
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

```python
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    val = seq[i]
```

In [97]:
seq = [1,2,3,4]
for i in range(len(seq)):
    val = seq[i]
seq[1]

2

sum = 0
for i in range(100000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        sum += i

#### Ternary expressions

value = true_expr if condition else false_expr

In [98]:
x = 5
'Non-negative' if x >= 0 else 'Negative'

'Non-negative'

In [103]:
tmp = 'ACGT'
tmp.count('A')

1

# Built-in Data Structures, Functions,

## Data Structures and Sequences

### Tuple

In [4]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [105]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [7]:
tuple([4, 0, 2])
#tup = tuple('string')
#tup

(4, 0, 2)

In [109]:
#tuple([4, 0, 2])
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [110]:
tup[0]

's'

In [111]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [112]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [113]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [114]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

#### Unpacking tuples

In [115]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [116]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [118]:
a, b = 1, 2
print(a)
print(b)
b, a = a, b
print(a)
print(b)

1
2
2
1

In [119]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [8]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
print(a, b)
rest

1 2

[3, 4, 5]

In [122]:
a, b, *_ = values

#### Tuple methods

In [123]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

### List

In [127]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
print(b_list)
b_list[1] = 'peekaboo'
b_list

['foo', 'bar', 'baz']

['foo', 'peekaboo', 'baz']

In [130]:
gen = range(10)
gen
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Adding and removing elements

In [139]:
b_list=[1]
b_list.append('dwarf')
b_list

[1, 'dwarf']

In [140]:
b_list.insert(1, 'red')
b_list

[1, 'red', 'dwarf']

In [141]:
b_list.pop(2)
b_list

[1, 'red']

In [142]:
b_list.append('foo')
b_list
b_list.remove('foo')
b_list

[1, 'red']

In [143]:
'dwarf' in b_list

False

In [144]:
'dwarf' not in b_list

True

#### Concatenating and combining lists

In [145]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [146]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

#### Sorting

In [147]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

#### Slicing

In [148]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [149]:
seq[3:4] = [6, 3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [152]:
#seq[:5]
seq[3:]

[6, 3, 5, 6, 0, 1]

In [153]:
seq[-4:]
seq[-6:-2]

[6, 3, 5, 6]

In [154]:
seq[::2]

[7, 3, 3, 6, 1]

In [155]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

### Built-in Sequence Functions

#### enumerate

for i, value in enumerate(collection):
   \# do something with value

In [156]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

#### sorted

In [159]:
sorted([7, 1, 2, 6, 0, 3, 2])
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

#### zip

In [160]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [161]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [ ]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

In [54]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)
first_names
last_names

('Ryan', 'Clemens', 'Curt')

#### reversed

In [ ]:
list(reversed(range(10)))

### dict

In [10]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [11]:
d1[7] = 'an integer'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [12]:
d1['b']

[1, 2, 3, 4]

In [13]:
'b' in d1

True

In [14]:
d1[5] = 'some value'
d1
d1['dummy'] = 'another value'
d1
del d1[5]
d1
ret = d1.pop('dummy')
ret
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [15]:
list(d1.keys())

['a', 'b', 7]

In [16]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [17]:
d1.update({'b' : 'foo', 'c' : 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

#### Creating dicts from sequences

mapping = {}
for key, value in zip(key_list, value_list):
    mapping[key] = value

In [18]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

#### Default values

In [21]:
if key in some_dict:
    value = some_dict[key]
else:
    value = default_value

NameError: name 'key' is not defined

In [7]:
value = some_dict.get(key, default_value)

NameError: name 'some_dict' is not defined

In [8]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [9]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
{by_letter.setdefault(word[0],[]).append(word) for word in words}
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

### set

In [ ]:
set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3}

In [ ]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [ ]:
a.union(b)
a | b

In [ ]:
a.intersection(b)
a & b

In [ ]:
c = a.copy()
c |= b
c
d = a.copy()
d &= b
d

In [ ]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

In [ ]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)
a_set.issuperset({1, 2, 3})

In [ ]:
{1, 2, 3} == {3, 2, 1}

### List, Set, and Dict Comprehensions

In [ ]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

In [ ]:
unique_lengths = {len(x) for x in strings}
unique_lengths

In [ ]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

#### Nested list comprehensions

In [59]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [60]:
names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)

In [61]:
result = [name for names in all_data for name in names
          if name.count('e') >= 2]
result

['Steven']

In [ ]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

In [ ]:
[[x for x in tup] for tup in some_tuples]

## Functions

In [162]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [163]:
my_function(5, 6, z=0.7)

0.06363636363636363

In [9]:
my_function(3.14, 7, 3.5)

35.49

In [10]:
my_function(10, 20)

45.0

In [2]:
def my_function(x,y,z=1.5):
    return z*(x+y) if z>1 else z/(x+y)
my_function(1,2)

4.5

### Namespaces, Scope, and Local Functions

In [3]:
def func():
    a = []
    for i in range(5):
        a.append(i)

In [4]:
a

NameError: name 'a' is not defined

In [8]:
a = []
def func(a):
    for i in range(5):
        a.append(i)

In [9]:
func(a)
a

[0, 1, 2, 3, 4]

In [10]:
a = None
def bind_a_variable():
    global a
    a = []
    a.append(3)
bind_a_variable()
print(a)

[3]

### Returning Multiple Values

In [11]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()

In [12]:
return_value = f()

In [13]:
return_value

(5, 6, 7)

In [14]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b' : b, 'c' : c}

In [15]:
return_value = f()

In [16]:
return_value

{'a': 5, 'b': 6, 'c': 7}

In [17]:
def f():
    a = 5
    b = 6
    c = 7
    return [a,b,c]

In [18]:
return_value = f()
return_value

[5, 6, 7]

In [25]:
t=(47,11)
d={'x': 'extract' , 'y': 'yes'}
f(*t, **d)

#A+B:58
#keys: ['x', 'y']
#Values: ['extract','yes']

A+B: 58
Keys: ['x', 'y']
Values: ['extract', 'yes']

In [24]:
def f(*args, **kwargs):
    print('A+B:', args[0]+args[1])
    print('Keys:', [key for key in kwargs.keys()])
    #print('Keys:', kwargs. keys())
    print('Values:', [kwargs[key] for key in kwargs.keys()])

In [35]:
str.title?

### Functions Are Objects

In [31]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

In [32]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [33]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [34]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [35]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [36]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

### Anonymous (Lambda) Functions

In [37]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [38]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [39]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [40]:
strings.sort(key=lambda x: len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

### Generators

In [41]:
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print(key)

a
b
c

In [42]:
dict_iterator = iter(some_dict)
dict_iterator

In [43]:
list(dict_iterator)

['a', 'b', 'c']

In [44]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [45]:
gen = squares()
gen

In [46]:
for x in gen:
    print(x, end=' ')
    #input(b)

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

#### Generator expresssions

In [47]:
gen = (x ** 2 for x in range(100))
gen

In [48]:
def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()

In [49]:
dict((i, i **2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

### Errors and Exception Handling

In [ ]:
float('1.2345')
float('something')

In [41]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [43]:
attempt_float('1.2345')

1.2345

In [44]:
attempt_float('something')

'something'

In [45]:
float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [ ]:
attempt_float((1, 2))

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [ ]:
attempt_float((1, 2))

## Files and the Operating System

In [56]:
path = 'some_module.py'

In [57]:
f = open(path)
for line in f:
    print(line)

# some_module.py

PI = 3.14159



def f(x):

    return x + 2



def g(a, b):

    return a + b

In [58]:
f.close()

In [59]:
with open('tmp.txt') as f:
    lines = f.readlines()
lines

['# some_module.py\n',
 'PI = 3.14159\n',
 'def f(x):\n',
 '    return x + 2\n',
 'def g(a, b):\n',
 '    return a + b']

In [60]:
with open(path) as f:
    lines = [x.rstrip() for x in f]
lines

['# some_module.py',
 'PI = 3.14159',
 '',
 'def f(x):',
 '    return x + 2',
 '',
 'def g(a, b):',
 '    return a + b']

In [61]:
type(lines[0])

str

In [62]:
str.rstrip?

In [63]:
with open('tmp.txt', 'w') as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)
with open('tmp.txt') as f:
    lines = f.readlines()
lines

['# some_module.py\n',
 'PI = 3.14159\n',
 'def f(x):\n',
 '    return x + 2\n',
 'def g(a, b):\n',
 '    return a + b']

In [50]:
import os
os.remove('tmp.txt')

In [52]:
!rm tmp.txt

'rm'은(는) 내부 또는 외부 명령, 실행할 수 있는 프로그램, 또는
배치 파일이 아닙니다.