# Time Series

In [14]:
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.set_printoptions(precision=4, suppress=True)

## Date and Time Data Types and Tools

In [2]:
from datetime import date
date(2019, 12, 25)

datetime.date(2019, 12, 25)

In [3]:
# use today()
today = date.today()
today

datetime.date(2020, 11, 19)

In [4]:
# check year, month, day attributes
today.year, today.month, today.day

(2020, 11, 19)

In [7]:
from datetime import time
ctime= time(13, 42, 35)
ctime

datetime.time(13, 42, 35)

In [8]:
# check hour, minute, second, microsecond attributes
ctime.hour, ctime.minute, ctime.second, ctime.microsecond

(13, 42, 35, 0)

In [9]:
# use now()
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2020, 11, 19, 15, 16, 23, 530601)

In [10]:
# check for date, time information
now.year, now.month, now.day

(2020, 11, 19)

In [11]:
now.hour, now.minute, now.second, now.microsecond

(15, 16, 23, 530601)

In [12]:
datetime(2002,8,15,12,12,0)

datetime.datetime(2002, 8, 15, 12, 12)

#### time difference

In [13]:
# check for time difference
# (1) difference between 2020,3,1 - 2000,1,1
# (2) difference between now - 2000,1,1

delta = datetime(2020,3,1) - datetime(2000,1,1)
delta

datetime.timedelta(days=7365)

In [14]:
datetime.now() - datetime(2020,3,2)

datetime.timedelta(days=262, seconds=55269, microseconds=704472)

In [15]:
datetime(2020,12,25) - datetime.now()

datetime.timedelta(days=35, seconds=31113, microseconds=386913)

In [16]:
from datetime import timedelta
start = datetime(2011, 1, 7)

# (1) add 12 days from 2011,1,7
# (2) add 1000 days from now
datetime(2011,1,7) + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [17]:
datetime.now() + timedelta(1000)

datetime.datetime(2023, 8, 16, 15, 23, 25, 391992)

### Converting Between String and Datetime

#### convert datetime to string

In [18]:
stamp = datetime(2011, 1, 3)
stamp

# (1) convert datetime to string with str()
# (2) convert datetime to sting with strftime()
str(stamp)

'2011-01-03 00:00:00'

In [21]:
stamp.strftime('%y-%m-%d')

'11-01-03'

#### convert string to datetime

In [23]:
from dateutil.parser import parse

datestr1 = '2011-01-03'
datestr2 = 'Jan 31, 1997 10:45 PM'
datestrs = ['July 6 2011 12:00:00', '20110806 00:00:00']

In [ ]:
# convert string to datetime
# (1) use parse() 
# (2) use pd.to_datetime()

In [24]:
parse(datestr1)

datetime.datetime(2011, 1, 3, 0, 0)

In [25]:
parse(datestr2)

datetime.datetime(1997, 1, 31, 22, 45)

In [26]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

## Time Series Basics

In [27]:
from datetime import datetime
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02   -0.204708
2011-01-05    0.478943
2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
2011-01-12    1.393406
dtype: float64

In [ ]:
# (1) check for the ts.index
# (2) indexing for the every even element for ts
# (3) check for the ts.index[0]

In [28]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [29]:
ts.index[0]

Timestamp('2011-01-02 00:00:00')

In [30]:
ts[1]

0.47894333805754824

In [36]:
ts[ts.index[1]]

0.47894333805754824

In [34]:
ts[::2]

2011-01-02   -0.204708
2011-01-07   -0.519439
2011-01-10    1.965781
dtype: float64

In [35]:
ts[1::2]

2011-01-05    0.478943
2011-01-08   -0.555730
2011-01-12    1.393406
dtype: float64

### Indexing, Selection, Subsetting

In [40]:
# (1) check the values of ts for indexing ts.index[2]
# (2) check for ts['1/10/2011']
# (3) check for ts['20110110']

In [41]:
ts.index[2]

Timestamp('2011-01-07 00:00:00')

In [42]:
ts['1/10/2011']

1.9657805725027142

In [43]:
ts['20110110']

1.9657805725027142

In [44]:
longer_ts = pd.Series(np.random.randn(1000),
                      index=pd.date_range('1/1/2000', periods=1000))
longer_ts

2000-01-01    0.092908
2000-01-02    0.281746
2000-01-03    0.769023
2000-01-04    1.246435
2000-01-05    1.007189
                ...
2002-09-22    0.930944
2002-09-23   -0.811676
2002-09-24   -1.830156
2002-09-25   -0.138730
2002-09-26    0.334088
Freq: D, Length: 1000, dtype: float64

In [ ]:
# (1) indexing for '2001'
# (2) indexing for '2001-05'
# (3) slicing from datetime(2001,1,1)
# (4) slicing till '2002-05-28'

In [45]:
longer_ts['2001']

2001-01-01    1.599534
2001-01-02    0.474071
2001-01-03    0.151326
2001-01-04   -0.542173
2001-01-05   -0.475496
                ...
2001-12-27    0.057874
2001-12-28   -0.433739
2001-12-29    0.092698
2001-12-30   -1.397820
2001-12-31    1.457823
Freq: D, Length: 365, dtype: float64

In [46]:
longer_ts['2001-05']

2001-05-01   -0.622547
2001-05-02    0.936289
2001-05-03    0.750018
2001-05-04   -0.056715
2001-05-05    2.300675
                ...
2001-05-27    0.235477
2001-05-28    0.111835
2001-05-29   -1.251504
2001-05-30   -2.949343
2001-05-31    0.634634
Freq: D, Length: 31, dtype: float64

In [52]:
longer_ts[datetime(2001,1,1):]

2001-01-01    1.599534
2001-01-02    0.474071
2001-01-03    0.151326
2001-01-04   -0.542173
2001-01-05   -0.475496
                ...
2002-09-22    0.930944
2002-09-23   -0.811676
2002-09-24   -1.830156
2002-09-25   -0.138730
2002-09-26    0.334088
Freq: D, Length: 634, dtype: float64

In [51]:
longer_ts[:'2002-05-28']

2000-01-01    0.092908
2000-01-02    0.281746
2000-01-03    0.769023
2000-01-04    1.246435
2000-01-05    1.007189
                ...
2002-05-24   -0.057152
2002-05-25   -0.108621
2002-05-26    1.652384
2002-05-27   -1.350928
2002-05-28   -0.546097
Freq: D, Length: 879, dtype: float64

## Date Ranges, Frequencies, and Shifting

### Generating Date Ranges

In [ ]:
# generate DatetimeIndex using data_range
# (1) generate days from '2012-04-01' to '2012-06-01'
# (2) generate 20 days start from '2012-04-01' (periods=20)
# (3) generate 20 days before '2012-06-01'(periods=20)

In [53]:
pd.date_range('2012-04-01','2012-06-01')

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [54]:
pd.date_range(start = '2012-04-01', periods = 20 )

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [55]:
pd.date_range(end = '2012-06-01', periods = 20 )

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

### Frequencies and Date Offsets

In [ ]:
# (1) generate BusinessMonthend ('BM') date from '2000-01-01' to '2000-12-01'
# (2) generate every 4 hour ('4H') datetime from '2000-01-01' to '2000-01-03 23:59'

In [56]:
pd.date_range('2000-01-01', '2000-12-01', freq = 'BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [58]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq = '4H')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

### Shifting (Leading and Lagging) Data

In [59]:
ts = pd.Series(np.random.randn(4),
               index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts

2000-01-31    0.488675
2000-02-29   -0.178098
2000-03-31    2.122315
2000-04-30    0.061192
Freq: M, dtype: float64

In [60]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.488675
2000-04-30   -0.178098
Freq: M, dtype: float64

In [61]:
ts.shift(-2)

2000-01-31    2.122315
2000-02-29    0.061192
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

ts / ts.shift(1) - 1

In [62]:
ts.shift(2, freq='M')

2000-03-31    0.488675
2000-04-30   -0.178098
2000-05-31    2.122315
2000-06-30    0.061192
Freq: M, dtype: float64

In [63]:
ts.shift(-3, freq='D')

2000-01-28    0.488675
2000-02-26   -0.178098
2000-03-28    2.122315
2000-04-27    0.061192
dtype: float64

## Resampling and Frequency Conversion

### Downsampling

In [15]:
rng = pd.date_range('2000-01-01', periods=12, freq='T')
ts = pd.Series(np.arange(12), index=rng)
ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int32

In [16]:
# (1) resample with '5min', then sum()
# (2) resample with 
#              closed: 'left' or 'right'
#               label: 'left' or 'right'

In [17]:
ts.resample('5min').sum()

2000-01-01 00:00:00    10
2000-01-01 00:05:00    35
2000-01-01 00:10:00    21
Freq: 5T, dtype: int32

In [18]:
ts.resample('5min', closed = 'left').sum()

2000-01-01 00:00:00    10
2000-01-01 00:05:00    35
2000-01-01 00:10:00    21
Freq: 5T, dtype: int32

In [19]:
ts.resample('5min', closed = 'right').sum()

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int32

In [20]:
ts.resample('5min',closed = 'right', label = 'right').sum()

2000-01-01 00:00:00     0
2000-01-01 00:05:00    15
2000-01-01 00:10:00    40
2000-01-01 00:15:00    11
Freq: 5T, dtype: int32

In [21]:
ts.resample('5min', label= 'left').sum()

2000-01-01 00:00:00    10
2000-01-01 00:05:00    35
2000-01-01 00:10:00    21
Freq: 5T, dtype: int32

In [22]:
ts.resample('5min', label = 'right').sum()

2000-01-01 00:05:00    10
2000-01-01 00:10:00    35
2000-01-01 00:15:00    21
Freq: 5T, dtype: int32

#### Open-High-Low-Close (OHLC) resampling

In [23]:
ts.resample('10T').ohlc()

                     open  high  low  close
2000-01-01 00:00:00     0     9    0      9
2000-01-01 00:10:00    10    11   10     11

## Conclusion